streamlit==1.32.2
streamlit-option-menu==0.3.13
streamlit-webrtc
streamlit-autorefresh

ultralytics
opencv-python-headless
pillow
numpy
pandas
matplotlib

reportlab
qrcode

av
supabase

SpeechRecognition
pydub
gTTS

openai
streamlit-chat
streamlit-mic-recorder
